<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.blekahootteacher"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisos BLE -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BLEKahootTeacher">

        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Actividad para mostrar preguntas y manejar "NEWROUND", respuestas, etc. -->
        <activity
            android:name=".TeacherQuestionActivity"
            android:label="Pregunta"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"
            android:exported="true"/>
    </application>
</manifest>
